<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listagem de transações</title>
</head>
<body>
    <h2>Listagem</h2>
    <ul>
        {% for transacao in transacoes %}
            <li><a href="{% url 'url_update' transacao.id %}"> {{ transacao }} </a>- {{ transacao.data }} - {{ transacao.valor }} - {{ transacao.categoria }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'url_nova' %}">Nova Transação</a>
<!--    <button type="submit">Nova Transacao</button>-->
</body>
</html>